package templates

import "github.com/Delta-a-Sierra/wedding_website/internal/adapters/presentation/htmx/templates/layout"

templ Home(title string) {
	@layout.Base(title) {
		@header()
	}
}

templ header() {
	<header class="bg-teal-800">
		<div class="max-w-[1200px] p-6 mx-auto"></div>
	</header>
}
